*{
    margin: 0%;
    padding: 0%;
    background-color: rgb(45 45 45);
}
.container{
    background-color: white;
    width: 80%;
    min-height: 100vh;
    margin: auto;
    padding: 100px 50px;
    box-sizing: border-box;
}
.container >h1{
    background-color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#noOfWords{
    background-color: white;
    width: 50%;
    padding: 10px;
    margin-top: 10px;
    font:100 1rem sans-serif;
    border: 1px solid black;
    outline: none;
}
button{
    color: white;
    border: none;
    font:100 1rem sans-serif;
    padding: 20px;
    border-radius: 8px;
    cursor: pointer;
    transition:background-color 0.5s;
    font-weight: bold;
}
.mypara{
    color: rgb(21 21 21);
    background-color: rgb(238 238 238);
    letter-spacing: 1px;
    word-spacing: 3px;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 5px;
    margin-top: 20px;
}